@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.nav-item .nav-link{
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.navbar-nav{
  margin-left: auto;
}
.navbar-brand{
  padding-left: 10px;
}
#bg-img {
  background-color: #1A1318!important;
}
body{
    background-color: #1A1318!important;
    color: white!important;
}
.title{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 40px 10px 0px;
}
.margin{
    margin-right: 50px;
    font-weight: lighter;
}
.padding{
    padding: 20px 0px;
}
.spam{
    margin-left: 20px;
    font-size: 24px;
}
.qoute{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.right{
    float: right; 
    margin-right: 60px;
    margin-top: -20px;
}
.left{
    margin-left: 50px;
    margin-bottom: -20px;
}
.upper{
    text-transform: uppercase;
    margin-right: 40px;
}
footer{
    background-image: linear-gradient(to bottom right, #2E1750,#211A37);
  }
  .inner-footer{
    margin:0px;
    padding: 0px 50px;
    border: 1px solid #3C2A59;
  }
  .quick-links{
    display:flex;
  }
  .quick-items{
      list-style: none;
  }
  .quick-links ul{
    padding: 30px;
    margin: auto;
    display: flex;
  }
  .quick-items a{
    text-decoration: none;
    padding: 0px 15px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 24px;
    color: white;
    transition: all 0.25s;
  }
  .quick-items a:hover{
    color: #6DE0FF;
    font-size: 25px;
  
  }
  .outer-footer{
    margin: 0px;
    padding: 0px;
  
  }
  .social-link{
    display: flex;
  }
  .social-link ul{
    padding: 10px;
    width: 250px;
    height: 40px;
    margin: auto;
    display: flex;
  }
  .social-items{
    list-style:none;
  }
  .social-items a{
    padding: 10px 20px;
  
  }
  .textfooter{
    padding: 25px;
    font-size: 24px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  .copyright{
    padding: 50px;
    font-size: 18px;
    font-family: 'Maven Pro', sans-serif;
    color: white;
    text-align: center;
  }
  